.ListDishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    border: 2px solid #4B0082;
    width: 600px;
}

.ListDishes img {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.ListDishes-title {
    font-size: 40px;
    margin: auto auto auto 15px;
}
.ListDishes-price {
    margin: auto;
}